.text-foot{
    font-size: 10pt;
    display: block;
    align-items: center;
    text-align: center;
    align-content: center;
    color: #434343;
}

ion-card {
    // box-shadow: none;
    border-radius: 10px;      
}